.wrap {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product {
  padding: 1rem;
  border: 1px solid black;
  max-width: 300px;
}

.product__img {
  width: 100%;
}

.product-footer {
  display: flex;
  justify-content: space-between;
}

.product-footer__price {
  font-weight: bold;
  color: tomato;
  font-size: 1.5rem;
}

.form {
  padding: 1rem;
  border: 1px solid rgba(105, 105, 105, 0.342);
}

.form__color--red {
  color: rgb(255, 104, 104);
}

.form__color--green {
  color: forestgreen;
}

.form__color--blue {
  color: rgb(139, 139, 255);
}